

* {


    margin: 0;
    padding: 0;
    
}
body {

height: 100%;
background: rgba(0, 0, 0, 0.8);

}

.wrap {
    
 
    min-height: 100%;
   
}
.container {
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
}
.content {
    
    position: relative;
   



}
.row1 {
    display: flex;
    flex-direction: row;
}
.column1 {
    display: flex;
    flex-direction: column;
}
.column2 {
    display: flex;
    flex-direction: column;
}
.column3 {
    display: flex;
    flex-direction: column;
}
.row2 {
    display: flex;
    flex-direction: row;
}



img:not(.unik, .unik2, .unik3, .keks img) {
margin: 10px 10px 10px 10px;
width: 182px;
height: 182px;
cursor: pointer;
  

}



.unik {
width: 595px;
height: 585px; 

margin: 9px 4px;



}


.keks img {
position: absolute;
top: -1px;
left: 22%;

width: 598px;
height: 587px; 
margin: 10px 10px 10px 10px;

}

/* for hover effect */
.havai-div {

    position: relative;
    
    }
    
    .havai-div:hover .tocth {
        display: flex;
    }
    
    
    .tocth {
        position: absolute;
        top: 70%;
        left: 50%;
         transform: translate(-50%, -0%); 
    
         display: none;
        -webkit-transition: all .25s;
        -o-transition: all .25s;
        transition: all .25s;
    
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: none;
    background: grey;
    opacity: 0.7; 
    
    padding: 7px 12px;
    /* width: 88px; */
    height: 27px;
    }
    
    .pe {
        position: relative;
        padding-right: 25px;
    
    font-size: 20px;
    color: #fff;
    
    
    }

    .coment::after {
        content: '';
        background: url('./imgonline-com-ua-Transparent-backgr-Joy99gG2TqMvnIj.png') no-repeat;
        background-size: 80%;

        top: 29%;
        right: 3px;
        /* transform: translate(-50%); */
        
        position: absolute;
        width: 18px;
        height: 18px;

    }


    .like::after {
        content: '';
        background: url('./imgonline-com-ua-Transparent-backgr-pk5WveeiyJL1ag.png') no-repeat;
        background-size: 121%;
       
       
        top: 18%;
        right: 5px;
        /* transform: translate(-50%); */
        
        
        position: absolute;
        width: 15px;
        height: 15px;
      
    }




    img.unik2 {
        width: 15px;
        height: 20px;
        padding-top: 3px;
    }
    img.unik3 {
        width: 15px;
        height: 18px;
        padding-top: 3px;
    
    }
    
    /* .rel {
    
    width: 182px;
    height: 182px;
    
    
    } */
